@charset "UTF-8";
.class_s1B {color: #333333; font-size: 1.1em}
.class_s1BD {font-style: italic; text-indent: 2.1em}
.class_s1G {color: #333333; font-size: 1.1em; line-height: 1.152; margin-left: 6.46%; padding-left: 1.505%}
.class_s1GX {font-weight: bold; margin-top: 0.675em; text-indent: 0.7em}
.class_s1GZ {font-weight: bold; text-indent: 1.4em}
.class_s1HS {text-indent: 2.1em}
.class_s1HV {text-indent: 1.75em}
.class_s1JK {font-weight: bold; text-indent: 0.7em}
.class_s1JY {text-indent: 15.313%}
.class_s1KT {text-indent: 3.15em}
.class_s1M0 {text-indent: 0.35em}
.class_s1M8 {text-indent: 0.7em}
.class_s1MB {text-indent: 2.45em}
.class_s1P9 {margin-bottom: 2.025em}
.class_s1PS {color: #303030}
.class_s1PT {background-color: #f7f7f7; color: #303030}
.class_s1PU {background-color: #f7f7f7; color: #936b09}
.class_s1PV {background-color: #f7f7f7; color: #666666}
.class_s1PW {background-color: #f7f7f7; color: #a922fe}
.class_s1PX {color: #303030; font-weight: bold}
.class_s1PZ {font-size: 0.940171em; font-weight: bold}
.class_s1R0 {background-color: #f7f7f7; color: #717171}
.class_s1R2 {font-weight: bold}
.class_s1R3 {font-style: italic}
.class_s1R4 {background-color: #f7f7f7; color: green; font-weight: bold}
.class_s1R5 {background-color: #f7f7f7; color: #bb4444}
.class_s1R6 {font-size: 0.940171em}
.class_s1R7 {color: blue; text-decoration: underline}
.class_s1R9 {font-size: 0.416667em; line-height: 3.80053}
.class_s1RA {background-color: #f7f7f7; color: #717171}
.class_s1RB {background-color: #f7f7f7; color: #303030}
.class_s1RC {background-color: #f7f7f7; color: #a922fe; font-weight: bold}
.class_s1RE {letter-spacing: 0.245455em}
.class_s1RF {background-color: #f7f7f7; color: #303030; font-size: 0.863636em; line-height: 2.17493}
.class_s1RG {background-color: #f7f7f7; color: #303030; font-size: 0.863636em; letter-spacing: 0.252632em; line-height: 2.17493}
.class_s1RH {font-size: 0.416667em; line-height: 2.8672}
.class_s1W {line-height: 1.28; margin-bottom: 0.369em}
.class_s2D {margin-bottom: 0.2464em; margin-left: 4.7%}
.class_s2T {font-size: 2.4em}
.class_s2V {margin-top: 0.675em}
.class_s2Y {font-weight: bold; margin-top: 0.675em}
.class_s5H {font-size: 0.95em; margin-top: 3.57487em}
.class_s5K {background-color: #f7f7f7; color: #303030; font-size: 0.95em}
.class_s5N {font-size: 0.95em}
.class_s5X {color: #303030; margin-top: 1.95em}
.class_s5Z {color: #303030; margin-top: 0.675em}
.class_s6P {line-height: 1.28; margin-top: 0.632813em}
.class_s6S {color: #303030; font-weight: bold; margin-top: 0.675em}
.class_s7W {margin-top: 2.025em}
.class_s8 {line-height: 1.28}
.class_s10 {line-height: 1.6; text-align: justify}
.class_s10R {text-indent: 1.05em}
.class_s12 {line-height: 1.6; margin-top: 0.675em; text-align: justify; text-indent: 1.3em}
.class_s18D {font-weight: bold; margin-top: 2.025em}
.class_s19 {color: #333333; font-size: 1.3em; font-weight: bold; line-height: 1.23094}
.class_s20 {color: #333333; font-size: 1.8em; font-weight: bold; line-height: 1.2224}
.class_s27 {color: #365f91; font-size: 1.5em; line-height: 1.11147; page-break-inside: avoid; text-align: center}
.class_s29 {margin-bottom: 0.2464em; margin-left: 2.35%}
.class_s46 {font-weight: bold}
.class_s61 {color: #303030}
.class_s68 {color: #303030; line-height: normal; margin-left: 6.33%; padding-left: 1.661%}
.class_s87 {background-color: #f7f7f7; color: #303030; font-size: 0.95em; margin-bottom: 0.782977em; margin-top: 0.782977em}
.class_s89 {margin-top: 1.35em}
.class_s181 {font-style: italic; margin-top: 0.675em}
.class_s183 {font-style: italic}
.class_sBF {line-height: normal; margin-left: 6.33%; padding-left: 1.661%}
.class_sBZ {background-color: black; color: #767676; font-size: 0.95em; margin-top: 3.57487em}
.class_sC1 {background-color: black; color: #767676; font-size: 0.95em}
.class_sC6 {background-color: black; color: #767676; font-size: 0.95em; margin-top: 0.675254em}
.class_sDM {background-color: black; color: #767676; font-size: 0.95em; line-height: 1.61387; margin-bottom: 0.115212em; margin-top: 2.11326em}
.class_sEB {margin-top: 2.7em}
.class_sH {width: 100%}
.class_sH6 {background-color: #f7f7f7; color: #303030; font-size: 0.95em; margin-top: 1.42996em}
.class_sHJ {margin-top: 0.7392em}
.class_sHR {margin-top: 2.72578em}
.class_sJV {line-height: 1.28; margin-top: 0.693em}
.class_sNY {line-height: 1.28; margin-top: 2.55542em}
.class_sPE {font-size: 1.1em; line-height: 1.8784; margin-top: 3.5581em}
.class_sR1 {font-size: 0.95em; margin-bottom: 0.782977em; margin-top: 0.782977em}
.class_sR3 {font-size: 0.95em; margin-top: 1.42996em}
.class_sRP {font-size: 0.95em; margin-top: 2.8599em}
.class_sS {font-weight: bold; line-height: 1.6; text-align: center; text-indent: 1.3em}
.class_sS3 {color: #303030; font-weight: bold; margin-top: 0.6375em}
.class_sU2 {font-size: 0.95em; margin-top: 0.714976em}
.class_sU6 {font-size: 0.95em; margin-top: 0.782977em}
.class_sV {font-size: 2.4em; line-height: 1.58293; margin-top: 0.67517em; text-align: justify; text-indent: 1.3em}
.class_sX {line-height: 1.6; margin-top: 0.675em; text-align: justify}
.heading_s4J {font-size: 1.5em; margin-bottom: 0.1984em; margin-top: 1.01494em; page-break-inside: avoid}
.heading_sA5 {font-size: 1.5em; margin-bottom: 0.1984em; page-break-inside: avoid}
.heading_sU9 {font-size: 1.17em; line-height: 1.28; margin-bottom: 0.158975em; margin-top: 0.910256em; padding-bottom: 0.467414em}